body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  height: 100vh;
  margin: 0;
  font-size: 40px;
  background-image: url('../img/bg.png');
  font-family: '1942_report1942_report';
}

@font-face {
  font-family: '1942_report1942_report';
  src: url('../fonts/1942-webfont.eot');
  src: url('../fonts/1942-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1942-webfont.woff') format('woff'),
       url('../fonts/1942-webfont.ttf') format('truetype'),
       url('../fonts/1942-webfont.svg#1942_report1942_report') format('svg');
  font-weight: normal;
  font-style: normal;

}